* {
    margin: 0;
    padding: 0;
}

.background {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.topCont {
    background-color: #f5f4fbb7;
    padding: 2rem;
    text-align: center;
}

.listOfTop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.listOfTop li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #44708d;
    font-size: 1.8rem;
}

.topLogo {
    width: 5rem;
    height: auto;
}

.listOfTop span {
    font-weight: bold;
    font-size: 1.5rem;
}

.listOfTop h3 {
    display: flex;
    align-items: center;
}


.articlesCont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    padding: 3% 0 3% 3%;
}

.One {
    grid-column: 1 / span 3;
    max-width: 68rem;
    height: fit-content;
}

.stickyCompon {
    grid-column: 4 / span 5;
    max-width: 68rem;
    height: fit-content;
}

.Two,
.Three,
.Four {
    max-width: 100%;
    height: fit-content;
    grid-column: span 1;
}

.meatPic {
    max-width: 100%;
    height: auto;
}

.cocktailsPic,
.breakfastPic,
.knifePic {
    max-width: 100%;
    max-height: fit-content;
}

.card {
    background-color: #f5f4fbc4;
    color: #354855;
    border-radius: 5px;
    padding: 1.2rem;
    font-size: 1.5rem;
}

.cardTitle {
    font-weight: bold;
}

.cardText {
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
    line-height: 1.3rem;
}

.card .btnLink {
    color: #5697c2;
    text-decoration: none;
}

.card .btnLink:hover {
    text-decoration: underline;
}

.stickyGroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2% 0 0 0%;
}

.sticky-container {
    max-width: 17rem;
    position: relative;
}

.sticky-outer {
    display: flex;
    padding-top: 92.5925926%;
    position: relative;
    width: 100%;
}

.sticky {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sticky:before {
    box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
    content: '';
    width: 90%;
    left: 5px;
    height: 75%;
    position: absolute;
    top: 30%;
}

.sticky-content {
    width: 100%;
    height: 100%;
    color: #354855;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kalam', cursive;
    font-size: 1.25rem;
    clip-path: url(#stickyClip);
}

.FirstStick,
.ThirdSticky {
    background: linear-gradient(180deg,
            rgba(187, 235, 255, 1) 0%,
            rgba(187, 235, 255, 1) 12%,
            rgba(170, 220, 241, 1) 75%,
            rgba(195, 229, 244, 1) 100%);
}

.SecondSticky {
    background: linear-gradient(180deg,
            rgba(228, 180, 185, 1) 0%,
            rgba(228, 180, 185, 1) 12%,
            rgba(228, 180, 185, 1) 75%,
            rgba(228, 180, 185, 1) 100%);
}

.container-inner {
    width: 70%;
    margin: 4% 5% 4% 0%;
}

.FindRecipeCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%;
    border-radius: 5px;
    background-color: #f5f4fb8d;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
}

.input-container input {
    flex-grow: 1;
    padding-right: 2rem;
    
}
.btnSearch {
    cursor: pointer;
    border-left: none;
    border: 0.5px solid #5697c26d ;
}
.btnSearch img{
    padding: 0.5rem;
}

.container input {
    border-color: white;
    border: 0.5px solid #5697c26d ;

}

.search {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    line-height: 18px;
    background-color: white;
    color: #354855;
    margin-left: 0px;
    font-family: 'Prompt', sans-serif;
}

.container h3 {
    padding: 1rem;
    font-size: 2rem;
    color: #44708d;
}

.container h4 {
    color: #354855;
    padding: 1rem;
}

.container h5,
h6 {
    color: #354855;
    padding: 0.3rem;
}

ul {
    list-style: none;
}

.wrapperOfPopular {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapperOfPopular h3 {
    margin-top: 2%;
    color: #44708d;
    font-size: 1.5rem;
}

.listOfPopular {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    gap: 7%;
}

.listOfPopular li Button {
    border-radius: 5px;
    padding: 10px 20px;
    border-color: #44708d6d;
}

.listOfPopular a {
    text-decoration: none;
    color: #44708d;
    cursor: pointer;
}

.listOfPopular li Button:hover {
    background-color: white;
}

.displayRecipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardRecipe {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin: 2% 5% 1% 5% ;
}

.card img {
    width: 100%;
    height: auto;
}

.label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #354855;
}

.list-group-item {
    font-size: 14px;
}

.list {
    margin-top: 1rem;
    padding-left: 0;
    font-size: 1rem;
}

.list li {
    list-style-type: disc;
    margin-left: 1.2rem;
    line-height: 1.5rem;
}


@media (max-width: 768px) {
    .listOfTop {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .topLogo {
        width: 40px;
        height: 40px;
    }

    .listOfTop span {
        font-size: 1.2rem;
    }

    .articlesCont{
        
    }

    .cardRecipe {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .listOfTop {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .topLogo {
        width: 30px;
        height: 30px;
    }

    .listOfTop span {
        font-size: 1rem;
    }
    .stickyCompon{
        display: none;
    }
    .articlesCont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap:1rem;
    }
    .listOfPopular{
        display: flex;
        flex-direction: column;
    }
    .cardRecipe{
        max-width: 15rem;
    }
}